<html>
<!--head-->

<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <!-- header -->
    <% include ../pages/headerTemp %>


    <!--body-->

    <% include ../pages/body %>

    <!--footer-->
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>