<html>

<body class="container">

  <main>
    <div class="jumbotron">
      <p>Name:
        <%= user.name %>
      </p>
      <p>Email:
        <%= user.email%>
      </p>
      <p>Password:
        <%= user.password%>
      </p>
      <p>User Successfully created</p>
    </div>
  </main>
</body>

</html>